.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#overlay1 {
    margin: auto;
    position: absolute;
    top: 50px; left: 50px;
    bottom: 50px; right: 50px;
    text-align: center;
    z-index:5;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}


.ourLogo {
    animation: bounce 2s infinite;
}

textarea.ng-invalid {
    background-color: pink;
}

.blink {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

            #gene-animation {
                animation: 15s fadeIn;
                margin: 0 auto;
                margin-top: 50px;
                text-align: center;
                height: 200px;
                display: block;
            }

            #one, #two, #three, #four, #five, #six, #onex, #twox, #threex, #fourx, #fivex, #sixx, #seven, #eight, #nine, #ten, #eleven, #twelve, #thirt, #fourt, #sevenx, #eightx, #ninex, #tenx, #elevenx, #twelvex, #thirtx, #fourtx {
                position: absolute;
            }

            #onex, #twox, #threex, #fourx, #fivex, #sixx,
            #sevenx, #eightx, #ninex, #tenx, #elevenx, #twelvex, #thirtx, #fourtx {
                color: red;
            }

            #one, #onex {
                top: 10%;
            }

            #two, #twox {
                top: 15%;
            }

            #three, #threex {
                top: 20%;
            }

            #four, #fourx {
                top: 25%;
            }

            #five, #fivex {
                top: 30%;
            }

            #six, #sixx {
                top: 35%;
            }

            #seven, #sevenx {
                top: 40%;
            }

            #eight, #eightx {
                top: 45%;
            }

            #nine, #ninex {
                top: 50%;
            }

            #ten, #tenx {
                top: 55%;
            }

            #eleven, #elevenx {
                top: 60%;
            }

            #twelve, #twelvex {
                top: 65%;
            }

            #thirt, #thirtx {
                top: 70%;
            }

            #fourt, #fourtx {
                top: 75%;
            }

            #one, #nine {
                -webkit-animation: one 4s infinite;
                -moz-animation: one 4s infinite;
            }

            #onex, #ninex {
                -webkit-animation: onex 4s 2s infinite;
                -moz-animation: onex 4s 2s infinite;
            }

            #two, #ten {
                -webkit-animation: one 4s 0.5s infinite;
                -moz-animation: one 4s 0.5s infinite;
            }

            #twox, #tenx {
                -webkit-animation: onex 4s 2.5s infinite;
                -moz-animation: onex 4s 2.5s infinite;
            }

            #three, #eleven {
                -webkit-animation: one 4s 1s infinite;
                -moz-animation: one 4s 1s infinite;
            }

            #threex, #elevenx {
                -webkit-animation: onex 4s 3s infinite;
                -moz-animation: onex 4s 3s infinite;
            }

            #four, #twelve {
                -webkit-animation: one 4s 1.5s infinite;
                -moz-animation: one 4s 1.5s infinite;
            }

            #fourx, #twelvex {
                -webkit-animation: onex 4s 3.5s infinite;
                -moz-animation: onex 4s 3.5s infinite;
            }

            #five, #thirt {
                -webkit-animation: one 4s 2s infinite;
                -moz-animation: one 4s 2s infinite;
            }

            #fivex, #thirtx {
                -webkit-animation: onex 4s infinite;
                -moz-animation: onex 4s infinite;
            }

            #six, #fourt {
                -webkit-animation: one 4s 2.5s infinite;
                -moz-animation: one 4s 2.5s infinite;
            }

            #sixx, #fourtx {
                -webkit-animation: onex 4s 0.5s infinite;
                -moz-animation: onex 4s 0.5s infinite;
            }

            #seven {
                -webkit-animation: one 4s 3s infinite;
                -moz-animation: one 4s 3s infinite;
            }

            #sevenx {
                -webkit-animation: onex 4s 1s infinite;
                -moz-animation: onex 4s 1s infinite;
            }

            #eight {
                -webkit-animation: one 4s 3.5s infinite;
                -moz-animation: one 4s 3.5s infinite;
            }

            #eightx {
                -webkit-animation: onex 4s 1.5s infinite;
                -moz-animation: onex 4s 1.5s infinite;
            }

            @-webkit-keyframes one {
                0% {
                    left: 40%;
                    z-index: 0;
                    -webkit-transform: scale(1);
                }

                25% {
                    -webkit-transform: scale(2);
                }

                50% {
                    left: 60%;
                    z-index: 1;
                    -webkit-transform: scale(1);
                }

                75% {
                    -webkit-transform: scale(0.5);
                }

                100% {
                    left: 40%;
                    z-index: 0;
                    -webkit-transform: scale(1);
                }
            }

            @-webkit-keyframes onex {
                0% {
                    left: 40%;
                    z-index: 1;
                    -webkit-transform: scale(1);
                }

                25% {
                    -webkit-transform: scale(2);
                }

                50% {
                    left: 60%;
                    z-index: 0;
                    -webkit-transform: scale(1);
                }

                75% {
                    -webkit-transform: scale(0.5);
                }

                100% {
                    left: 40%;
                    z-index: 1;
                    -webkit-transform: scale(1);
                }
            }

            @-moz-keyframes one {
                0% {
                    left: 40%;
                    z-index: 0;
                    -moz-transform: scale(1);
                }

                25% {
                    -moz-transform: scale(2);
                }

                50% {
                    left: 60%;
                    z-index: 1;
                    -moz-transform: scale(1);
                }

                75% {
                    -moz-transform: scale(0.5);
                }

                100% {
                    left: 40%;
                    z-index: 0;
                    -moz-transform: scale(1);
                }
            }

            @-moz-keyframes onex {
                0% {
                    left: 40%;
                    z-index: 1;
                    -moz-transform: scale(1);
                }

                25% {
                    -moz-transform: scale(2);
                }

                50% {
                    left: 60%;
                    z-index: 0;
                    -moz-transform: scale(1);
                }

                75% {
                    -moz-transform: scale(0.5);
                }

                100% {
                    left: 40%;
                    z-index: 1;
                    -moz-transform: scale(1);
                }
            }